hr {
    max-width: 65px;
    border-width: 3px;
    border-color: #024656; 
}
.form-control{
    width:100px;
    height: 30px;
    margin-bottom:20px;
}
.complex-number{
    padding-right: 100px;
    position:static;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#calculator{
    border: 2px solid #024656;
    border-radius: 8px;
}

h3 {
    text-align: center;
    padding-bottom: 5px;

}
.buttons{
}
#clear{
}
#id{
    background:red !important;
}
.btn btn-primary:hover{
    transform: scale(1.1);


}
#binomicaResult{
    text-align:left;
}
#fasorialResult{
    text-align:left;
}