img{
    width:450px;
    height:300px; 
    margin:10px;
    transition: all 1s;

}
.btn{
    background:#024656 !important;
}
body{
    font-family: 'Pangolin', cursive;

}
main{
    padding-top:65px;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    font-family:fantasy;
    font-size:3em;
    border-bottom: 2px solid teal;
    border-right: 2px solid teal;
    width:400px;
    text-align: center;
    box-shadow: 2px 2px 3px teal
}
img:hover{
    transform: scale(1.1);
}
hr {
    max-width: 65px;
    border-width: 3px;
    border-color: #024656; 
}


