hr {
    max-width: 65px;
    border-width: 3px;
    border-color: #024656; 
}

img{
    width:300px;
    height:100px;       
}

.welcome-image{
    width:68em;
    height:30em;
    margin-bottom: 2em;
}

.pt-5{
    margin-top: 0px;
}