hr {
    max-width: 65px;
    border-width: 3px;
    border-color: #024656; 
}

img{
    width:300px;
    height:100px;       
}

.welcome-image{
    width:1100px;
    height:600px;
    margin-bottom: 20px;
}

.pt-5{
    margin-top: 0px;
}