hr {
    max-width: 65px;
    border-width: 3px;
    border-color: #024656; 
}

img{
    width:300px;
    height:100px;       
}

.welcome-image{

    width:100%;
    height:auto;
    margin-bottom: 2em;
    float:left;
}



#welcome-div{
    position: relative;
}

.pt-5{
    margin-top: 0px;
}
* {
    box-sizing: border-box;
}

.col-lg-7 col-xl-7 ml-xl-4 mb-4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}