
body,
html {
    width: 100%;
    height: 100%; 
}

h3{
    margin-top:1px;
}


.navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar{
    background-color:#25749E
}

body {
    font-family: 'Montserrat', sans-serif;
}

hr {
    max-width: 65px;
    border-width: 3px;
    border-color: #024656; 
}

.faded {
    color: rgba(255, 255, 255, 0.8); 
}

header.startup {
    background-position: center;
    background-image: url("header.jpg");
    background-size: cover;
    height: 100%;
}

header.startup hr {
    margin-top: 200px;
    margin-bottom: 30px; 
}

header.startup h1 {
    font-size: 2rem; 
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px;
    font-family: 'Montserrat', sans-serif;
}

.btn-xl {
    padding: 1rem 2rem; 
}

.btn-primary {
    background-color: #024656;
    background-color: #024656;

    border-color: #024656;
    margin:2px;}

.btn-primary:hover {
    background-color: #07718A;
    border-color: #07718A;
    border-width: 5px;
    cursor: pointer;
}

.container{
    display:inline-block;
}
